### VisualStudioCode ###
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json


### VisualStudio ###
# User-specific files
*.rsuser
*.suo
*.user
*.userosscache

# Build results
build/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
!/src/cli/bin/
!/src/cli/bin/netoffice.js

# Visual Studio cache
.vs/

# Node dependencies and packed CLI artifacts
node_modules/
*.tgz
/src/cli/proto/

# PowerPoint presentations
*.pptx
*.ppt
